.status {
  display: inline-block;
  margin-bottom: 15px;
}

.modelWrapper {
  margin: 15px auto 0;
  width: 500px;
  height: 500px;
  &.m {
    margin: 0;
    width: 100%;
    height: 270px;
  }
}

.bottom {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
