/* 메인화면 맵리스트 내부 컴포넌트 스타일 */
.container {
  padding: 10px 0;
}
.listWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 12px;
}

.listItem {
  flex: auto;
  width: 380px;
  border-radius: 12px;
  position: relative;
}

.image {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  filter: brightness(50%);
  &:hover,
  &:hover + .name {
    color: transparent !important;
    filter: brightness(110%);
  }
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
