@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트모드이자 기본 값으로 적용할 스타일을 정의 */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* 다크모드에 적용할 스타일을 정의 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 폰트 정의 */
@font-face {
  font-family: "kosugi";
  src: url("../../public/font/Kosugi-Regular.ttf");
}

/* 전체 태그에 적용할 기본 공통 속성 */
* {
  padding: 0;
  margin: 0;
}

/* 공통 기본 속성 */
body {
  background-color: black;
  color: white;
  font-family: "kosugi";
  font-size: 15px;
  line-height: 18px;
}

/* 중복 사용 스타일들 */
.flexRowBtw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* 전역 사용 컴포넌트 */
header {
  background-color: black;
  position: fixed;
  z-index: 99;
  width: 1280px;
  /* box-shadow: 0 8px 22px -5px rgba(43, 43, 43, 0.7); */
}

header.m {
  width: 100%;
}

footer {
  padding: 14px;
  background-color: black;
  position: fixed;
  bottom: 0;
  /* box-shadow: 0px -10px 22px -5px rgba(43, 43, 43, 0.7); */
  width: 1280px;
}

footer.m {
  width: 100%;
  margin-top: 100px;
  position: unset;
  box-shadow: none;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.footerWrapper.m {
  display: block;
}

.footerItem {
  margin-right: 28px;
}

.footerItem.m {
  margin: 0;
  padding: 12px 0;
}

/* 반응형 컨텐츠 영역 */
.resContainer {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.resContainer.m {
  width: 100%;
}

/* 메인 드롭다운 래퍼 */
.mainWrapper {
  width: 100%;
  padding: 64px 0;
}

.mainWrapper.m {
  padding: 64px 15px 0;
}

/* 메인 사용자 정보 (PC) */
.userWrapper {
  position: absolute;
  right: 14px;
  width: 269px;
  z-index: 9;
}

.userWrapper span {
  display: inline-block;
}

.userBtn {
  cursor: pointer;
  float: right;
}

/* 수정 진행 - 걷어내야 하는 속성들 */
.content {
  margin: 0 auto;
  color: black;
  text-align: center;
  font-size: 15px;
  background-color: beige;
  width: 1280px;
  height: 1000px;
}

.content.t {
  width: 768px;
  height: 1000px;
  background-color: bisque;
}

.content.m {
  width: 100%;
  height: 1000px;
  background-color: gold;
}

.boxWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.boxWrapper.t {
  justify-content: center;
}

.boxWrapper.m {
  justify-content: center;
}

.box {
  width: 632px;
  height: 317px;
  border-radius: 14px;
  background-color: white;
  margin-bottom: 14px;
}

.box.t {
  width: 530px;
  height: 265px;
}

.box.m {
  width: 498px;
  height: 249px;
}
