$pc_width: 1280px;

.footerContainer {
  padding: 14px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: $pc_width;
  &.m {
    width: 100%;
    margin-top: 100px;
    position: unset;
    box-shadow: none;
  }
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  &.m {
    display: block;
  }
  li {
    margin-right: 28px;
    &.m {
      margin: 0;
      padding: 12px 0;
    }
  }
}

.clickable {
  cursor: pointer;
}
