$button_height: 48px;

.wrapper {
  cursor: pointer;
  text-align: center;
  line-height: $button_height;
  font-size: 15.5px;
  background-color: white;
  color: black;
  border-radius: 17px;
}

.disabled {
  filter: brightness(50%);
}

.fixed {
  width: 269px;
  height: $button_height;
}

.responsive {
  width: 100%;
  height: $button_height;
}
