$secondary_color: #838383;

.inputWrapper {
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid white;
}

.title {
  display: inline-block;
  margin-right: 8px;
}

.input {
  flex: 1;
  background-color: transparent;
  border: 0;
  outline: none;
}

.msg {
  color: $secondary_color;
  font-size: 13px;
}
